body {
    background: url(/assets/images/bg.jpg) #ffffff top center no-repeat;
    background-size: cover;
}

.merenda {
    font-family: 'Merienda One', cursive;

}

.description_div {
    min-height: 90px;;
}

